body {
	font-size: 18px;
	text-align: center;
}
h1 {
	color: rgb(2, 132, 130);
	font-size: 2em;
}
h2 {
	color: #ffd700;
	font-size: 1.5em;
}
h1, h2 {
	text-transform: uppercase;
	text-align: center;
}
.board {
	display: inline-block;
	width: 50%;
	height: 50%;
	float: left;
}
.card {
	background-color: yellow;
	height: 200px;
	width: 150px;
	border-radius: 10px;
	border: 1px black solid;
	/**display: inline-block;
	margin: 8%;
	float: left;**/
}
footer {
	clear: both;
	padding: 1em 0;
	text-align: center;
	background-color: #808080;
}
span {
	color: #ff0000;
}
nav {
	background-color: #808080;
}
nav a {
	text-decoration: none;
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	float: left;
}
a:hover {
	background-color: #ee5f3c;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}